{% extends "base.html" %}
{% block content %}

<div class="col-sm-6 col-sm-offset-3">
	<h1> {{ title }} is working !</h1>
	<a href='{% url "postsurl:create" %}'>Create Post</a><br/><br/>
<form method="GET" action="">
	<input type="text" name="q" placeholder="Search posts" value="{{ request.GET.q }}" />
	<input type="submit" name="searchsubmit" value="Search"/>
</form>
	<!-- return reverse("postsurl:detail",kwargs={"id":self.id}) -->
	{% for obj in object_list %}
<!-- <a href="/posts/{{ obj.id }}/">
{{ obj.title }}</a><br/> -->
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="card" style="width: 100rem;">
			<!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
			{% if obj.image %}
			    <img src='{{ obj.image.url }}' class='img-responsive' />
			{% else %} 
				No image
    		{% endif %}

			<div class="card-body">
				{% if obj.draft %}<h3>Staff only: Draft</h3>{% endif %} {% if obj.publish > today %}<h3>Staff Only: Future Post</h3>{% endif %}
				<h5 class="card-title"><a href='{{obj.get_absolute_url}}'>{{ obj.title }}</a>  -    <small>{{ obj.timestamp|timesince}}</small></h5>
				<p class="card-text">{% url "postsurl:detail" slug=obj.slug %}{{ obj.content|linebreaks|truncatechars:120 }}{{ obj.updated }}{{ obj.id }}</p>
				{% if obj.user %}
				<p> Author : {{ obj.user }} </p>
				{% endif %}
				<a href='{{obj.get_absolute_url}}' class="btn btn-primary">View</a>  <a href='{{obj.get_update_url}}' class="btn btn-primary">Update</a>
			</div>
		</div>
	</div>
	<hr/>
	</div>
	<!-- {{ obj.id }}<br/> -->
	<!-- {% cycle "" "</div><div class 'row'>" %} -->
		{% endfor %}


<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{page_request_var}}=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo; first</a>
            <a href="?{{page_request_var}}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{page_request_var}}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
            <a href="?{{page_request_var}}={{ object_list.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">last &raquo;</a>
        {% endif %}
    </span>
</div>

</div>

{% endblock content %}